
@{
    ViewBag.Title = "MyFilm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles {
    .link-list {
        color: var(--main-color);
    }    
}

<div class="content-wrapper">
    <a href="/Admin/Movie/Index" class="link-list">Danh sách phim</a>
    <span class="list-title">Quản lý Phim</span>
</div>

