@using WebsiteDatVeXemPhim
@using WebsiteDatVeXemPhim.EF

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .content-wrapper .header-detail {
            flex-direction: column;
        }
    </style>
}

<div class="content-wrapper" id="CreateSchedule">
    @*<div class="header-detail">
        <a href="/Admin/Movie/Index" class="link-list"> < Danh sách lịch chiếu</a>
        <span class="name-title mt-8"> Tạo mới lịch chiếu </span>
    </div>
    <div class="content-detail">
        <div class="content-detail-head"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;&nbsp; Thông tin lịch chiếu</div>
        <div class="content-item">
            <label class="content-label">Tên phim</label>
            <input class="content-input" type="text" v-model="TenPhim" readonly/>
        </div>
        <div class="content-item">
            <label class="content-label">Phòng chiếu</label>
            <input class="content-input" type="text" v-model="TenPhim" />
        </div>
        <div class="error text-danger"> {{ error_name }}</div>
        <div class="content-item">
            <label class="content-label">Mô tả</label>
            <textarea class="content-input" type="text" rows="4" v-model="MoTa"></textarea>
        </div>
        <div class="content-item">
            <label class="content-label">Giá vé</label>
            <input class="content-input content-numbers" type="text" v-model="ThoiLuong" onkeypress="return isNumberKey(event)" />
        </div>
        <div class="error text-danger"> {{ error_time }}</div>
        <div class="content-item">
            <label class="content-label">Tình trạng</label>
            <select class="content-input content-status" v-model="TinhTrang">
                <option value="@((int)Phim.StatusFilm.ChuaKhoiChieu)">Chưa khởi chiếu</option>
                <option value="@((int)Phim.StatusFilm.DangKhoiChieu)">Đang khởi chiếu</option>
                <option value="@((int)Phim.StatusFilm.KetThuc)">Kết thúc</option>
            </select>
        </div>
    </div>*@
</div>
@section Scripts {
    <script>
        //$(document).ready(function () {
        //    $('#ngaykhoichieu').datepicker({
        //        dateFormat: "dd/mm/yy",
        //        changeMonth: true,
        //        changeYear: true
        //    })

        //    $('#ngayketthuc').datepicker({
        //        dateFormat: "dd/mm/yy",
        //        changeMonth: true,
        //        changeYear: true
        //    })
        //})

        //function getNgayKhoiChieu() {
        //    var ngaykhoichieu = $("#ngaykhoichieu").val();
        //    vmAddFilm.NgayKhoiChieu = ngaykhoichieu;
        //}

        //function getNgayKetThuc() {
        //    var ngaykt = $("#ngayketthuc").val();
        //    vmAddFilm.NgayKetThuc = ngaykt;
        //}
    </script>
    <script src="~/Scripts/Schedule/Create.js"></script>
}

