@using WebsiteDatVeXemPhim
@using WebsiteDatVeXemPhim.EF

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .content-wrapper .header-detail {
            flex-direction: column;
        }
    </style>
}

<div class="content-wrapper" id="CreateSchedule">
    <div class="header-detail">
        <a href="/Admin/Movie/Index" class="link-list"> < Danh sách lịch chiếu</a>
        <span class="name-title mt-8"> Tạo mới lịch chiếu </span>
    </div>
    <div class="content-detail">
        <div class="content-detail-head"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;&nbsp; Thông tin lịch chiếu</div>
        <div class="content-item">
            <label class="content-label">Tên phim</label>
            <input class="content-input" type="text" v-model="TenPhim" readonly />
        </div>
        <div class="content-item">
            <label class="content-label">Ngày chiếu</label>
            <input class="content-input content-date" type="text" v-model="ThoiGianChieu" id="thoigianchieu" onchange="getThoiGianChieu()" />
        </div>
        <div class="error text-danger"> {{ error_showtime }}</div>
        <div class="content-item">
            <label class="content-label">Phòng chiếu</label>
            <select class="content-input content-status" v-model="idPhong">
                <option v-for="item in listPC" :value="item.id">{{item.TenPhong }}</option>
            </select>
        </div>
        <div class="error text-danger"> {{ error_room }}</div>
        <div class="content-item">
            <label class="content-label">Giá vé</label>
            <input class="content-input content-numbers" type="text" v-model="GiaVe" onkeypress="return isNumberKey(event)" />
        </div>
        <div class="error text-danger"> {{ error_price }}</div>
        <div class="content-item">
            <label class="content-label">Suất chiếu</label>
            <select class="content-input content-status" v-model="idSuatChieu">
                <option v-for="item in listSC" :value="item.id">{{item.SuatChieu1 }} : 00</option>
            </select>
        </div>
        <div class="error text-danger"> {{ error_sc }}</div>
        <div class="content-item">
            <label class="content-label">Tình trạng</label>
            <select class="content-input content-status" v-model="TrangThai">
                <option value="1">Active</option>
                <option value="0">Not Active</option>
            </select>
        </div>
        <div class="btn-update">
            <button v-on:click="addSchedule()" class="btn-main-color">Hoàn thành</button>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var id = @ViewBag.Id;
        $(document).ready(function () {
            $('#thoigianchieu').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            })
        })

        function getThoiGianChieu() {
            var thoigianchieu = $("#thoigianchieu").val();
            vmCreateSchedule.ThoiGianChieu = thoigianchieu;
        }
    </script>
    <script src="~/Scripts/Schedule/Create.js"></script>
}

