@using WebsiteDatVeXemPhim
@using WebsiteDatVeXemPhim.EF
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="display:none" id="ListRoom">
    <div class="header">
        <span class="list-title">Quản lý phòng chiếu</span>
    </div>
    <div class="table-list mt-32">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="ordinal-numbers text-center">STT</th>
                    <th scope="col" class="name-film">Tên phòng</th>
                    <th scope="col" class="text-center">Số chỗ ngồi</th>
                    <th scope="col" class="show-date text-center">Loại màn hình</th>
                    <th scope="col" class="produce-year text-center">Ngày tạo</th>
                    <th scope="col" class="text-center">Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in list">
                    <td class="ordinal-numbers text-center">
                        {{ index +1}}
                    </td>
                    <td class="name-film"> <a class="text-main-color" v-bind:href="'/Admin/Room/MyRoom?id=' + item.id">{{ item.TenPhong }}</a></td>
                    <td class="text-center">{{ item.SoChoNgoi }} </td>
                    <td class="show-date text-center">{{ item.LoaiManHinh }}</td>
                    <td class="produce-year text-center">{{ item.NgayTaoFormat }}</td>
                    <td class="text-center text-blue" v-if="item.TinhTrang == @((int)PhongChieu.PC.sudung)"> Đang sử dụng</td>
                    <td class="text-center text-main-color" v-if="item.TinhTrang == @((int)PhongChieu.PC.khongsudung)"> Không sử dụng</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Room/Room.js"></script>
}

