
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebsiteDatVeXemPhim.EF.LienHe
@section Styles {
    <style>
        .content_contact {
            color: #fff;
            margin-top: 122px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 60px;
        }

        #mapCanvas {
            width: 100%;
            height: 600px;
            color: #000;
        }

        .text-danger {
            text-align: left;
            color: red;
            width: 100%;
            padding-left: 12px;
        }

        .feedback__form__group {
            margin-top: 20px;
            margin-bottom: 0px !important;
        }

        .feedback__form__btn:hover {
            cursor: pointer;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVugAdmakHOpFKBahFV1GVlaDN-i3kBCc&callback=initMap"></script>
    <script>

        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.
        function initMap() {
            const uluru = { lat: 21.044705022470165, lng: 105.78154471821634 };
            const map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 20,
                center: uluru,
            });
            const contentString = '@Html.Raw(Model.Content)';
            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            const marker = new google.maps.Marker({
                position: uluru,
                map,
                title: "Uluru (Ayers Rock)",
            });

            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: false,
                });
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}

<div class="content_contact" id="CreateFeedback">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-align-center">Thông Tin Liên Hệ</h2>
                    @Html.Raw(Model.Content)
                    <h2 class="text-align-center">Gửi Phản Hồi</h2>

                    <form action="#" class="feedback__form__form">
                        <div class="feedback__form__group" style="margin-top: 0">
                            <input type="text" class="feedback__form__input" placeholder="Họ Tên" v-model="Name">
                        </div>
                        <div class="text-danger"> {{err_Name}}</div>
                        <div class="feedback__form__group">
                            <input type="text" class="feedback__form__input" placeholder="Số điện thoại" v-model="Phone">
                        </div>
                        <div class="text-danger"> {{err_Phone}}</div>
                        <div class="feedback__form__group">
                            <input type="text" class="feedback__form__input" placeholder="Địa chỉ" v-model="Address">
                        </div>
                        <div class="feedback__form__group">
                            <input type="text" class="feedback__form__input" placeholder="Email" v-model="Email">
                        </div>
                        <div class="feedback__form__group">
                            <textarea placeholder="Yêu cầu" class="feedback__form__detail" id="" cols="60" rows="4" v-model="Content"></textarea>
                        </div>
                        <div class="text-danger"> {{err_Content}}</div>

                        <span class="feedback__form__btn" v-on:click="createFeedback()">Đăng phản hồi</span>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2> Bản Đồ</h2>
                    <div class="map" id="mapCanvas"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Contact/Contact.js"></script>
}



