<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href="/home-page" class="header__logo">
                            <span>BUG</span> Cinema
                        </a>
                        <!-- end header logo -->
                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a href="/home-page" class="header__nav-link">Trang chủ</a>

                            </li>
                            <!-- end dropdown -->
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a class="dropdown-toggle header__nav-link" href="/Contact/Index">Liên hệ</a>
                            </li>
                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->
                        <!-- header auth -->
                        <div class="header__auth">
                            @{Html.RenderAction("Account", "Home");}
                        </div>
                        <!-- end header auth -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
