.m0 {
    margin: 0;
}

.mt-32 {
    margin-top: 32px !important;
}

.display-none {
    display: none !important;
}

#img-spin {
    width: 100%;
    position: fixed;
    z-index: 999999999;
    height: 100%;
    background: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-hover:hover {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}