
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .paginator {
            width: 104px !important;
        }

        .paginator__item span {
            font-size: 16px;
            height: 50px;
            width: 50px;
            display: block;
            line-height: 50px;
            color: rgba(255,255,255,0.5);
            text-align: center;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

        .paginator__item span:hover {
            cursor: pointer;
            color: #fff;
        }

        .card--list .card__title {
            line-height: 40px;
        }

        .txtSearch {
            background: transparent;
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 8px 16px;
            width: 80%;
            height: 42px;
            color: #ddd;
        }
    </style>
    
}
<div id="ListFilm_Hompage">
    <!-- home -->
    <section class="home">
        <!-- home bg -->
        <div class="owl-carousel home__bg">
            <div class="item home__cover" data-bg="/Content/img/home/home__bg.jpg"></div>
            <div class="item home__cover" data-bg="/Content/img/home/home__bg2.jpg"></div>
            <div class="item home__cover" data-bg="/Content/img/home/home__bg3.jpg"></div>
            <div class="item home__cover" data-bg="/Content/img/home/home__bg4.jpg"></div>
        </div>
        <!-- end home bg -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="home__title"><b>Phim</b> Mới cập nhật</h1>

                    <button class="home__nav home__nav--prev" type="button">
                        <i class="icon ion-ios-arrow-round-back"></i>
                    </button>
                    <button class="home__nav home__nav--next" type="button">
                        <i class="icon ion-ios-arrow-round-forward"></i>
                    </button>
                </div>

                <div class="col-12">
                    <div class="owl-carousel home__carousel">
                        <div class="item">
                            <!-- card -->
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Content/img/covers/cover.jpg" alt="">
                                    <a href="#" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="detail.html">I Dream in Another Language</a></h3>
                                    <span class="card__category">
                                        <a href="#">Action</a>
                                        <a href="#">Triler</a>
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="item">
                            <!-- card -->
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Content/img/covers/cover2.jpg" alt="">
                                    <a href="#" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="#">Benched</a></h3>
                                    <span class="card__category">
                                        <a href="#">Comedy</a>
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="item">
                            <!-- card -->
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Content/img/covers/cover3.jpg" alt="">
                                    <a href="#" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="#">Whitney</a></h3>
                                    <span class="card__category">
                                        <a href="#">Romance</a>
                                        <a href="#">Drama</a>
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="item">
                            <!-- card -->
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Content/img/covers/cover4.jpg" alt="">
                                    <a href="#" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="#">Blindspotting</a></h3>
                                    <span class="card__category">
                                        <a href="#">Comedy</a>
                                        <a href="#">Drama</a>
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- filter -->
    <div class="filter">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="filter__content">
                        <div class="filter__items" style="width: 100%">
                            <!-- filter item -->
                                <input type="text" class="txtSearch" placeholder="Tìm kiếm thông tin phim mà bạn mong muốn" v-model="txtSearch" v-on:keypress.enter="getListFilm()">
                        </div>

                        <!-- filter btn -->
                        <button class="filter__btn" type="button" v-on:click="getListFilm()">Tìm kiếm</button>
                        <!-- end filter btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end filter -->
    <!-- catalog -->
    <div class="catalog">
        <div class="container">
            <div class="row">
                <!-- card -->
                <div class="col-6 col-sm-12 col-lg-6" v-for="item in list">
                    <div class="card card--list">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="card__cover">
                                    <img v-bind:src="item.ApPhich" alt="">
                                    <a href="#" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8">
                                <div class="card__content">
                                    <h3 class="card__title"><a v-bind:href="'/Home/DetailsFilm/' + item.id">{{item.TenPhim}}</a></h3>
                                    <span class="card__category">
                                        <a href="#">{{item.TheLoai}}</a>
                                    </span>

                                    <div class="card__wrap">
                                        <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                                        <ul class="card__list">
                                            <li>HD</li>
                                            <li>16+</li>
                                        </ul>
                                    </div>

                                    <div class="card__description" v-if="item.LichChieuString !== ''">
                                        <p>Ngày: {{ item.LichChieuString }}</p>
                                    </div>
                                    <div class="card__description" v-else>
                                        <p>Sắp chiếu</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
                <!-- paginator -->
                <div class="col-12">
                    <ul class="paginator paginator--list">
                        <li class="paginator__item paginator__item--prev">
                            <span v-on:click="prev()"><i class="icon ion-ios-arrow-back"></i></span>
                        </li>
                        <li class="paginator__item paginator__item--next">
                            <span v-on:click="next()"><i class="icon ion-ios-arrow-forward"></i></span>
                        </li>
                    </ul>
                </div>
                <!-- end paginator -->
            </div>
        </div>
    </div>
    <!-- end catalog -->
</div>

@section Scripts {
    <script src="~/Scripts/Homepage/Homepage.js"></script>
}
